<nav class="navbar navbar-expand-md bg-dark navbar-dark sticky-top">
  <a class="navbar-brand" href="/"><img src="https://d1nxzqpcg2bym0.cloudfront.net/google_play/com.activagames.aniwork/6931739c-f03d-11e9-a092-1d4f63b84c90/128x128" width="40%"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/anime">Anime</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/manga">Manga</a>
      </li>    
      <li class="nav-item">
        <a class="nav-link" href="/group">Group</a>
      </li>    
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
    </ul>
  </div>  
</nav>